<h1>Pyspark Guide</h1>

In [1]:
import pyspark.sql.functions as f
import pyspark.sql.types     as t
from pyspark.sql import SparkSession

In [2]:
spark = (
    SparkSession.builder
                    .config("spark.executor.memory", "4G")
                    .config("spark.sql.repl.eagerEval.enabled", True)
                    .config("spark.sql.repl.eagerEval.maxNumRows", 10)
                    .appName("how to use spark")
                    .getOrCreate()
)

22/09/24 06:41:38 WARN Utils: Your hostname, desktop-pro resolves to a loopback address: 127.0.1.1; using 172.29.28.57 instead (on interface eth0)
22/09/24 06:41:38 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/09/24 06:41:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/09/24 06:41:39 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark

In [4]:
file_path_parquet = "./data-parquet/"
file_path_parquet_user = "./data-user-parquet/"
file_path_csv = "./data-csv/"

## Lendo Arquivos [Parquet]

In [5]:
file_path_parquet

'./data-parquet/'

In [6]:
df_parquet = (
    spark
    .read
    .format("parquet")
    .load(file_path_parquet)
)

In [7]:
df_parquet

+--------------+--------------------+--------------------+--------------------+----+--------------+-----------+--------------------+-------+
|account_number|           bank_name|dt_current_timestamp|                iban|  id|routing_number|  swift_bic|                 uid|user_id|
+--------------+--------------------+--------------------+--------------------+----+--------------+-----------+--------------------+-------+
|    0267608433|ABN AMRO CORPORAT...|       1619454485308|GB78DZFZ380630884...|1957|     295965484|BSABGB2LXXX|8b3f376b-0adf-4f8...|   5641|
|    7052327864|ABN AMRO HOARE GO...|       1619454485308|GB29ZZRW634222451...|4911|     274059719|   AAFMGB21|0bb4c571-a21d-461...|   3006|
|    3296123731|ABINGWORTH MANAGE...|       1619454485308|GB27LPUN514365223...|5275|     314786939|BSABGB2LXXX|c3d9ea2c-5e58-416...|   9348|
|    3455902680|UBS CLEARING AND ...|       1619454485308|GB84VPOW303511892...|7312|     256999143|AIBKGB2XTSY|c188b6ac-e5da-4c9...|   4920|
|    6799197420|ABN AMRO QUOTED I...|       1619454485308|GB73LSLX976213143...|1428|     219280860|BOFAGB22SEC|72a2f0eb-657b-477...|   9612|
|    3734311084|ABN AMRO HOARE GO...|       1619454485308|GB44BRFS970776726...| 258|     712952857|   ABCCGB22|625d209c-00fd-429...|   8354|
|    2074989437|ALLIED BANK PHILI...|       1619454485308|GB72RJCG710095607...|4639|     721592567|BOFAGB3SSWI|bbcd32b6-23c0-453...|   8029|
|    8638293794|ABBOTSTONE AGRICU...|       1619454485308|GB54HCJD358743036...| 194|     113613258|BOFAGB22OF2|7dd2e788-7482-405...|      7|
|    2432252121|ABBOTSTONE AGRICU...|       1619454485308|GB70AFAV412241071...|1104|     249410587|   ABBYGB2L|f9aa6f43-a445-437...|   1654|
|    1037172675|ALKEN ASSET MANAG...|       1619454485308|GB53WVHS695074027...|1149|     216860869|   ABAZGB21|a593098e-c986-47d...|   7280|
+--------------+--------------------+--------------------+--------------------+----+--------------+-----------+--------------------+-------+
only showing top 10 rows

## Lendo Arquivos [CSV]

In [8]:
df_csv = spark.read.format("csv").option("header", True).option("inferSchema", True).load(file_path_csv)

In [9]:
df_csv.printSchema()

root
 |-- account_number: long (nullable = true)
 |-- bank_name: string (nullable = true)
 |-- dt_current_timestamp: long (nullable = true)
 |-- iban: string (nullable = true)
 |-- id: integer (nullable = true)
 |-- routing_number: integer (nullable = true)
 |-- swift_bic: string (nullable = true)
 |-- uid: string (nullable = true)
 |-- user_id: integer (nullable = true)

### Corrigindo a leitura do Dataframe em CSV

In [10]:
args_dict = {
    'header': True,
    'sep': ',',
    'encoding': 'utf-8',
    'inferSchema': True,
}

df_csv = spark.read.format("csv").options(**args_dict).load(file_path_csv)

In [11]:
df_csv

+--------------+--------------------+--------------------+--------------------+----+--------------+-----------+--------------------+-------+
|account_number|           bank_name|dt_current_timestamp|                iban|  id|routing_number|  swift_bic|                 uid|user_id|
+--------------+--------------------+--------------------+--------------------+----+--------------+-----------+--------------------+-------+
|    7320834088|ABN AMRO HOARE GO...|       1621352186397|GB50RCLB435176715...|4796|     251572316|BOFAGB4TIPA|e90b2938-deb5-430...|   9975|
|    7467060749|ABN AMRO MEZZANIN...|       1621352186397|GB44TYKV551022700...| 861|     300679144|ANTSGB2LCHA|f6fa9d04-f772-4b0...|   9926|
|    5010092952|ABN AMRO HOARE GO...|       1621352186397|GB87IIXG134617446...|1807|     706669295|UBKLGB2LXXX|454a5b80-65eb-458...|   5981|
|    2038687205|UBS CLEARING AND ...|       1621352186397|GB00SNQA493665279...|1953|     679077561|   AANLGB2L|7c603e59-125f-42b...|   6756|
|    1587066166|ABN AMRO HOARE GO...|       1621352186397|GB42TNIE334085043...|9434|      98879573|BCYPGB2LCSB|56e873c5-d510-47e...|   9175|
|    6388053049|ABBOTSTONE AGRICU...|       1621352186397|GB37LUOF810938630...|8038|     801066544|   ABCEGB2L|eb273e88-1264-407...|   7848|
|    9005400212|ABINGWORTH MANAGE...|       1621352186397|GB82FSYF715692598...| 631|     685232280|BARBGB2LLEI|a1aa3b78-4a4a-4d3...|   5552|
|    5450421232|ABN AMRO HOARE GO...|       1621352186397|GB77MMAX127462497...|8541|     640430771|BCYPGB2LPGB|2c809f6c-f140-412...|   6111|
|    6128886941|ABN AMRO CORPORAT...|       1621352186397|GB13EAQN731975103...|3488|     269785632|BOFAGB4TIPA|f7d07cb5-2b0b-44f...|   2942|
|    5078734151|          ABBEY LIFE|       1621352186397|GB55JFQD125993400...|2956|      35860891|BKCHGB2UXXX|688d8425-ee46-4b6...|   3062|
+--------------+--------------------+--------------------+--------------------+----+--------------+-----------+--------------------+-------+
only showing top 10 rows

## Filtros no Spark

Vamos utilizar a função `col()` para nos referirmos às colunas. Existem outras maneiras de fazermos isso, mas essa é a melhor forma. (justificativa adiante).

Operadores lógicos:
* e: &
* ou: |
* não: ~

Para fazer o filtro, pode ser utilizado tanto a função `filter()` como `where()`.

### Filtros com uma única condição

In [12]:
(
    df_parquet.filter(f.col("bank_name") == "ABBEY LIFE")
    .select("id", "iban", "swift_bic", "bank_name")
)

+----+--------------------+-----------+----------+
|  id|                iban|  swift_bic| bank_name|
+----+--------------------+-----------+----------+
|2668|GB67PVXN983954278...|BARBGB2LSOU|ABBEY LIFE|
|6508|GB38HCJT306766350...|UBKLGB2LBAK|ABBEY LIFE|
|8313|GB91MOJV708533289...|AIBKGB2XTSY|ABBEY LIFE|
|8394|GB80EKIY425898295...|   ABECGB21|ABBEY LIFE|
|8863|GB84QHII427697269...|MORLGB2LSMK|ABBEY LIFE|
| 962|GB71TLWN358957315...|ASTPGB2LXXX|ABBEY LIFE|
|6440|GB19PAKA482644053...|BARBGB2LSOU|ABBEY LIFE|
|6410|GB33EDPV546622293...|BCYPGB2LHHB|ABBEY LIFE|
|9671|GB13TCCL185471838...|BARBGB2LKEN|ABBEY LIFE|
|7719|GB03OJUX179943965...|   ABMNGB21|ABBEY LIFE|
+----+--------------------+-----------+----------+
only showing top 10 rows

###  Filtros com duas ou mais condição

In [13]:
(
    df_parquet.filter(
        (f.col('bank_name') == "ABBEY LIFE") 
        & 
        (f.col('swift_bic') == "BKCHGB2UXXX")
    )
)

+--------------+----------+--------------------+--------------------+----+--------------+-----------+--------------------+-------+
|account_number| bank_name|dt_current_timestamp|                iban|  id|routing_number|  swift_bic|                 uid|user_id|
+--------------+----------+--------------------+--------------------+----+--------------+-----------+--------------------+-------+
|    5078734151|ABBEY LIFE|       1621352186397|GB55JFQD125993400...|2956|     035860891|BKCHGB2UXXX|688d8425-ee46-4b6...|   3062|
+--------------+----------+--------------------+--------------------+----+--------------+-----------+--------------------+-------+

In [14]:
df_parquet.printSchema()
df_parquet.dtypes
df_parquet.schema

root
 |-- account_number: string (nullable = true)
 |-- bank_name: string (nullable = true)
 |-- dt_current_timestamp: long (nullable = true)
 |-- iban: string (nullable = true)
 |-- id: long (nullable = true)
 |-- routing_number: string (nullable = true)
 |-- swift_bic: string (nullable = true)
 |-- uid: string (nullable = true)
 |-- user_id: long (nullable = true)

StructType(List(StructField(account_number,StringType,true),StructField(bank_name,StringType,true),StructField(dt_current_timestamp,LongType,true),StructField(iban,StringType,true),StructField(id,LongType,true),StructField(routing_number,StringType,true),StructField(swift_bic,StringType,true),StructField(uid,StringType,true),StructField(user_id,LongType,true)))

### Definindo um schema
Da maneira trabalhosa:

Da maneira simples e rápida:

In [15]:
cols = ["id", "iban", "swift_bic", "bank_name"]
schema = t.StructType([t.StructField(c, t.StringType()) for c in cols])
schema

StructType(List(StructField(id,StringType,true),StructField(iban,StringType,true),StructField(swift_bic,StringType,true),StructField(bank_name,StringType,true)))

## Olhando para os dados

In [16]:
df_parquet.describe()

+-------+-------------------+--------------------+--------------------+--------------------+------------------+-------------------+-----------+--------------------+-----------------+
|summary|     account_number|           bank_name|dt_current_timestamp|                iban|                id|     routing_number|  swift_bic|                 uid|          user_id|
+-------+-------------------+--------------------+--------------------+--------------------+------------------+-------------------+-----------+--------------------+-----------------+
|  count|                800|                 800|                 800|                 800|               800|                800|        800|                 800|              800|
|   mean| 5.15628865576625E9|                null|1.620421281803625E12|                null|        4848.27375|   3.322776952575E8|       null|                null|       5002.56875|
| stddev|2.872248027238747E9|                null|  9.67766362984952E8|                null|2934.7152273505167|2.610145570173564E8|       null|                null|2962.795389648868|
|    min|         0001145135|AAC CAPITAL PARTN...|       1619454345320|GB00BIFT850570158...|                 7|          000917779|   AACCGB21|0036fb76-35b0-44e...|                3|
|    max|         9985435631|UBS CLEARING AND ...|       1621424024870|GB96UZDQ020945512...|              9999|          809424845|UBKLGB2LXXX|ff9f2586-dcc5-4de...|             9997|
+-------+-------------------+--------------------+--------------------+--------------------+------------------+-------------------+-----------+--------------------+-----------------+

In [17]:
print('Número de Linhas: ', df_parquet.count(), '\n',
      'Número de Colunas: ', len(df_parquet.columns), '\n')
df_parquet.printSchema()

Número de Linhas:  800
 Número de Colunas:  9

root
 |-- account_number: string (nullable = true)
 |-- bank_name: string (nullable = true)
 |-- dt_current_timestamp: long (nullable = true)
 |-- iban: string (nullable = true)
 |-- id: long (nullable = true)
 |-- routing_number: string (nullable = true)
 |-- swift_bic: string (nullable = true)
 |-- uid: string (nullable = true)
 |-- user_id: long (nullable = true)

# Manipulação dos Dados

O design do pyspark.sql, obviamente, é baseado no SQL para o processamento de dados estruturados. Assim, muitas funções tem nomes parecidos e/ou funcionam da mesma forma que seus análogos em sql puro. 

Inclusive, é possível operar em um DataFrame utilizando somente SQL

### Seleção de Colunas

In [18]:
df_parquet.select("id", "iban", "swift_bic", "bank_name")

+----+--------------------+-----------+--------------------+
|  id|                iban|  swift_bic|           bank_name|
+----+--------------------+-----------+--------------------+
|1957|GB78DZFZ380630884...|BSABGB2LXXX|ABN AMRO CORPORAT...|
|4911|GB29ZZRW634222451...|   AAFMGB21|ABN AMRO HOARE GO...|
|5275|GB27LPUN514365223...|BSABGB2LXXX|ABINGWORTH MANAGE...|
|7312|GB84VPOW303511892...|AIBKGB2XTSY|UBS CLEARING AND ...|
|1428|GB73LSLX976213143...|BOFAGB22SEC|ABN AMRO QUOTED I...|
| 258|GB44BRFS970776726...|   ABCCGB22|ABN AMRO HOARE GO...|
|4639|GB72RJCG710095607...|BOFAGB3SSWI|ALLIED BANK PHILI...|
| 194|GB54HCJD358743036...|BOFAGB22OF2|ABBOTSTONE AGRICU...|
|1104|GB70AFAV412241071...|   ABBYGB2L|ABBOTSTONE AGRICU...|
|1149|GB53WVHS695074027...|   ABAZGB21|ALKEN ASSET MANAG...|
+----+--------------------+-----------+--------------------+
only showing top 10 rows

In [19]:
cols = ["id", "iban", "swift_bic", "bank_name"]
df_parquet.select(cols)

+----+--------------------+-----------+--------------------+
|  id|                iban|  swift_bic|           bank_name|
+----+--------------------+-----------+--------------------+
|1957|GB78DZFZ380630884...|BSABGB2LXXX|ABN AMRO CORPORAT...|
|4911|GB29ZZRW634222451...|   AAFMGB21|ABN AMRO HOARE GO...|
|5275|GB27LPUN514365223...|BSABGB2LXXX|ABINGWORTH MANAGE...|
|7312|GB84VPOW303511892...|AIBKGB2XTSY|UBS CLEARING AND ...|
|1428|GB73LSLX976213143...|BOFAGB22SEC|ABN AMRO QUOTED I...|
| 258|GB44BRFS970776726...|   ABCCGB22|ABN AMRO HOARE GO...|
|4639|GB72RJCG710095607...|BOFAGB3SSWI|ALLIED BANK PHILI...|
| 194|GB54HCJD358743036...|BOFAGB22OF2|ABBOTSTONE AGRICU...|
|1104|GB70AFAV412241071...|   ABBYGB2L|ABBOTSTONE AGRICU...|
|1149|GB53WVHS695074027...|   ABAZGB21|ALKEN ASSET MANAG...|
+----+--------------------+-----------+--------------------+
only showing top 10 rows

In [20]:
cols = ["iban", "bank_name"]
df_parquet.select("id", *cols)

+----+--------------------+--------------------+
|  id|                iban|           bank_name|
+----+--------------------+--------------------+
|1957|GB78DZFZ380630884...|ABN AMRO CORPORAT...|
|4911|GB29ZZRW634222451...|ABN AMRO HOARE GO...|
|5275|GB27LPUN514365223...|ABINGWORTH MANAGE...|
|7312|GB84VPOW303511892...|UBS CLEARING AND ...|
|1428|GB73LSLX976213143...|ABN AMRO QUOTED I...|
| 258|GB44BRFS970776726...|ABN AMRO HOARE GO...|
|4639|GB72RJCG710095607...|ALLIED BANK PHILI...|
| 194|GB54HCJD358743036...|ABBOTSTONE AGRICU...|
|1104|GB70AFAV412241071...|ABBOTSTONE AGRICU...|
|1149|GB53WVHS695074027...|ALKEN ASSET MANAG...|
+----+--------------------+--------------------+
only showing top 10 rows

Observações:
* Podemos realizar operações sobre colunas selecionadas. 
* A ordem em que as colunas são selecionadas é a ordem em que elas vão ser inseridas no DataFrame resultante.

In [21]:
df_parquet.select("iban", "bank_name", f.lower('bank_name').alias('bank_name_lower'))

+--------------------+--------------------+--------------------+
|                iban|           bank_name|     bank_name_lower|
+--------------------+--------------------+--------------------+
|GB78DZFZ380630884...|ABN AMRO CORPORAT...|abn amro corporat...|
|GB29ZZRW634222451...|ABN AMRO HOARE GO...|abn amro hoare go...|
|GB27LPUN514365223...|ABINGWORTH MANAGE...|abingworth manage...|
|GB84VPOW303511892...|UBS CLEARING AND ...|ubs clearing and ...|
|GB73LSLX976213143...|ABN AMRO QUOTED I...|abn amro quoted i...|
|GB44BRFS970776726...|ABN AMRO HOARE GO...|abn amro hoare go...|
|GB72RJCG710095607...|ALLIED BANK PHILI...|allied bank phili...|
|GB54HCJD358743036...|ABBOTSTONE AGRICU...|abbotstone agricu...|
|GB70AFAV412241071...|ABBOTSTONE AGRICU...|abbotstone agricu...|
|GB53WVHS695074027...|ALKEN ASSET MANAG...|alken asset manag...|
+--------------------+--------------------+--------------------+
only showing top 10 rows

#### Selecionando valores distintos

In [22]:
df_parquet.select("bank_name").distinct().show(n=df_parquet.count(), truncate=False)

+----------------------------------------------+
|bank_name                                     |
+----------------------------------------------+
|OTKRITIE SECURITIES LIMITED                   |
|ABN AMRO FUND MANAGERS LIMITED                |
|ABN AMRO CORPORATE FINANCE LIMITED            |
|UBS CLEARING AND EXECUTION SERVICES LIMITED   |
|ABBOTSTONE AGRICULTURAL PROPERTY UNIT TRUST   |
|AAC CAPITAL PARTNERS LIMITED                  |
|ABU DHABI ISLAMIC BANK                        |
|SANTANDER UK PLC                              |
|ABN AMRO HOARE GOVETT LIMITED                 |
|THE ROYAL BANK OF SCOTLAND PLC (FORMER RBS NV)|
|PGMS (GLASGOW) LIMITED                        |
|ABINGWORTH MANAGEMENT LIMITED                 |
|ABG SUNDAL COLLIER LIMITED                    |
|ALKEN ASSET MANAGEMENT                        |
|ABN AMRO HOARE GOVETT SECURITIES              |
|ABN AMRO QUOTED INVESTMENTS (UK) LIMITED      |
|ALLIED BANK PHILIPPINES (UK) PLC              |
|ABN AMRO MEZZANINE (UK) LIMITED               |
|ABBEY LIFE                                    |
|ABC INTERNATIONAL BANK PLC                    |
|ABN AMRO HOARE GOVETT CORPORATE FINANCE LTD.  |
+----------------------------------------------+

#### Filtros Utilizando SQL

In [23]:
(
    df_parquet.filter("bank_name = 'SANTANDER UK PLC'")
    .select("id", "bank_name")
)

+----+----------------+
|  id|       bank_name|
+----+----------------+
|4311|SANTANDER UK PLC|
|5815|SANTANDER UK PLC|
|8914|SANTANDER UK PLC|
|9510|SANTANDER UK PLC|
|1817|SANTANDER UK PLC|
|4054|SANTANDER UK PLC|
|1694|SANTANDER UK PLC|
|8559|SANTANDER UK PLC|
|4805|SANTANDER UK PLC|
|8275|SANTANDER UK PLC|
+----+----------------+
only showing top 10 rows

In [24]:
(
    df_parquet.filter("bank_name = 'SANTANDER UK PLC' and id = 4311")
    .select("id", "bank_name")
)

+----+----------------+
|  id|       bank_name|
+----+----------------+
|4311|SANTANDER UK PLC|
+----+----------------+

In [25]:
(
    df_parquet.filter("""id in ('8275', '4601') 
                      and (bank_name in ('SANTANDER UK PLC', 'PGMS (GLASGOW) LIMITED'))
                      """)
    .select("id", "bank_name").show(truncate=False)
)

+----+----------------------+
|id  |bank_name             |
+----+----------------------+
|8275|SANTANDER UK PLC      |
|4601|PGMS (GLASGOW) LIMITED|
+----+----------------------+

#### Observações
Quando nos referimos às colunas por meio da função `col()`, temos acesso à diversos métodos das colunas que podem ser utilizados para auxliar na filtragem do DataFrame. Alguns deles são:
* `isin()`: checa se a coluna contém os valores listados na função.
* `contains()`: utilizado para verificar se uma coluna de texto contém algum padrão especificado (não aceita regex). Aceita uma outra coluna de texto.
* `like()`: utilizado para verificar se uma coluna de texto contém algum padrão especificado (não aceita regex). Funciona de forma similar ao "LIKE" do SQL.
* `rlike()`: utilizado para verificar se uma coluna de texto contém algum padrão especificado (**aceita regex**). Funciona de forma similar ao "RLIKE" do SQL.
* `startswith()`: utilizado para verificar se uma coluna de texto começa com algum padrão especificado (**aceita regex**).
* `endswith()`: utilizado para verificar se uma coluna de texto termina com algum padrão especificado (**aceita regex**).
* `between()`: checa se os valores da coluna estão dentro do intervalo especificado. Os dois lados do intervalo são inclusivos.
* `isNull()`: retorna True se o valor da coluna é nulo
* `isNotNull()`: retorna True se o valor da coluna não é nulo

Outros métodos úteis:
* `alias()/name()`: usado para renomear as colunas em operações como select() e agg()
* `astype()/cast()`: usado para mudar o tipo das colunas. Aceita tanto um string como um tipo especificado pelo módulo pyspark.sql.types
* `substr()`: utilizado para cortar um string com base em índices dos caracteres

In [26]:
(
    df_parquet.filter(f.col("bank_name").like('%A%'))
    .select("bank_name").show(truncate=False)
)

+-------------------------------------------+
|bank_name                                  |
+-------------------------------------------+
|ABN AMRO CORPORATE FINANCE LIMITED         |
|ABN AMRO HOARE GOVETT SECURITIES           |
|ABINGWORTH MANAGEMENT LIMITED              |
|UBS CLEARING AND EXECUTION SERVICES LIMITED|
|ABN AMRO QUOTED INVESTMENTS (UK) LIMITED   |
|ABN AMRO HOARE GOVETT SECURITIES           |
|ALLIED BANK PHILIPPINES (UK) PLC           |
|ABBOTSTONE AGRICULTURAL PROPERTY UNIT TRUST|
|ABBOTSTONE AGRICULTURAL PROPERTY UNIT TRUST|
|ALKEN ASSET MANAGEMENT                     |
|ABN AMRO QUOTED INVESTMENTS (UK) LIMITED   |
|ABU DHABI ISLAMIC BANK                     |
|ALLIED BANK PHILIPPINES (UK) PLC           |
|SANTANDER UK PLC                           |
|ABN AMRO HOARE GOVETT LIMITED              |
|UBS CLEARING AND EXECUTION SERVICES LIMITED|
|UBS CLEARING AND EXECUTION SERVICES LIMITED|
|PGMS (GLASGOW) LIMITED                     |
|AAC CAPITAL PARTNERS LIMITED               |
|ABN AMRO HOARE GOVETT SECURITIES           |
+-------------------------------------------+
only showing top 20 rows

### Ordenando o DataFrame

A ordenação do DataFrame pode ser feita utilizando as funções `orderBy()` ou `sort()`. Algumas funções auxiliares importante para serem usadas ao ordenar:
* `asc()`: ordena a coluna de forma ascendente (default)
* `desc()`ordena a coluna de forma decrescente
* `asc_nulls_first() / desc_nulls_first()`: ordena a coluna de forma ascendente e decrescente, respectivamente, mantendo os campos nulos primeiro
* `asc_nulls_last() / desc_nulls_last()`: ordena a coluna de forma ascendente e decrescente, respectivamente, mantendo os campos nulos por último

In [27]:
df_parquet.select("bank_name").distinct().orderBy('bank_name').show(truncate=False)

+----------------------------------------------+
|bank_name                                     |
+----------------------------------------------+
|AAC CAPITAL PARTNERS LIMITED                  |
|ABBEY LIFE                                    |
|ABBOTSTONE AGRICULTURAL PROPERTY UNIT TRUST   |
|ABC INTERNATIONAL BANK PLC                    |
|ABG SUNDAL COLLIER LIMITED                    |
|ABINGWORTH MANAGEMENT LIMITED                 |
|ABN AMRO CORPORATE FINANCE LIMITED            |
|ABN AMRO FUND MANAGERS LIMITED                |
|ABN AMRO HOARE GOVETT CORPORATE FINANCE LTD.  |
|ABN AMRO HOARE GOVETT LIMITED                 |
|ABN AMRO HOARE GOVETT SECURITIES              |
|ABN AMRO MEZZANINE (UK) LIMITED               |
|ABN AMRO QUOTED INVESTMENTS (UK) LIMITED      |
|ABU DHABI ISLAMIC BANK                        |
|ALKEN ASSET MANAGEMENT                        |
|ALLIED BANK PHILIPPINES (UK) PLC              |
|OTKRITIE SECURITIES LIMITED                   |
|PGMS (GLASGOW) LIMITED                        |
|SANTANDER UK PLC                              |
|THE ROYAL BANK OF SCOTLAND PLC (FORMER RBS NV)|
+----------------------------------------------+
only showing top 20 rows

### Renomeando Colunas

Para renomear colunas, é utilizada a função `withColumnRenamed()`, da seguinte forma:

```
df.withColumnRenamed(`nome_antigo`, 'nome_novo')
```

In [28]:
(
    df_parquet.select("id","bank_name")
    .withColumnRenamed("id", "codigo")
    .withColumnRenamed("bank_name", "nome_do_banco")
)

+------+--------------------+
|codigo|       nome_do_banco|
+------+--------------------+
|  1957|ABN AMRO CORPORAT...|
|  4911|ABN AMRO HOARE GO...|
|  5275|ABINGWORTH MANAGE...|
|  7312|UBS CLEARING AND ...|
|  1428|ABN AMRO QUOTED I...|
|   258|ABN AMRO HOARE GO...|
|  4639|ALLIED BANK PHILI...|
|   194|ABBOTSTONE AGRICU...|
|  1104|ABBOTSTONE AGRICU...|
|  1149|ALKEN ASSET MANAG...|
+------+--------------------+
only showing top 10 rows

### Usando SQL no Spark

In [29]:
spark.catalog.currentDatabase()

'default'

In [30]:
spark.sql('show databases').show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [31]:
spark.sql('create database mbaUniesp')

++
||
++
++

In [32]:
spark.sql('show databases').show()

+---------+
|namespace|
+---------+
|  default|
|mbauniesp|
+---------+

In [33]:
spark.sql("use mbaUniesp")

++
||
++
++

In [34]:
spark.catalog.currentDatabase()

'mbauniesp'

In [35]:
df_parquet.createOrReplaceTempView("tb_mba")

In [37]:
spark.catalog.listTables('mbaUniesp')

[Table(name='tb_mba', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [38]:
spark.sql("""
          SELECT id, bank_name, iban
          FROM tb_mba
          ORDER BY bank_name ASC
          """).show()

+----+--------------------+--------------------+
|  id|           bank_name|                iban|
+----+--------------------+--------------------+
|4021|AAC CAPITAL PARTN...|GB08GPHW811849899...|
|4860|AAC CAPITAL PARTN...|GB63KMHI937505377...|
|9273|AAC CAPITAL PARTN...|GB30LVEB769608875...|
|3903|AAC CAPITAL PARTN...|GB06JEEA664870875...|
|7704|AAC CAPITAL PARTN...|GB63DJKK117071350...|
| 352|AAC CAPITAL PARTN...|GB01PVBF998160398...|
|9621|AAC CAPITAL PARTN...|GB73TRIL639750550...|
|8589|AAC CAPITAL PARTN...|GB92KAFL585685413...|
|1172|AAC CAPITAL PARTN...|GB15ZHUN157344910...|
|5389|AAC CAPITAL PARTN...|GB55KNIC222437434...|
|2565|AAC CAPITAL PARTN...|GB30WXVI106620147...|
|1808|AAC CAPITAL PARTN...|GB27GKTC414010430...|
| 341|AAC CAPITAL PARTN...|GB36HAXU913504162...|
|4896|AAC CAPITAL PARTN...|GB86GTJP394631398...|
|4332|AAC CAPITAL PARTN...|GB87OPFS046384927...|
|2762|AAC CAPITAL PARTN...|GB35XDDA797034560...|
| 282|AAC CAPITAL PARTN...|GB88RYKX129674130...|
|6258|AAC CAPITAL PARTN...|GB54DHQF453425097...|
|7627|AAC CAPITAL PARTN...|GB48XRZH712666623...|
|6730|AAC CAPITAL PARTN...|GB24GLMR159615626...|
+----+--------------------+--------------------+
only showing top 20 rows

In [39]:
spark.sql("""
          SELECT count(user_id) as qtd_user_per_bank, bank_name
          FROM tb_mba
          GROUP BY bank_name
          ORDER BY bank_name ASC
          """).show()

+-----------------+--------------------+
|qtd_user_per_bank|           bank_name|
+-----------------+--------------------+
|               34|AAC CAPITAL PARTN...|
|               38|          ABBEY LIFE|
|               33|ABBOTSTONE AGRICU...|
|               42|ABC INTERNATIONAL...|
|               22|ABG SUNDAL COLLIE...|
|               36|ABINGWORTH MANAGE...|
|               37|ABN AMRO CORPORAT...|
|               53|ABN AMRO FUND MAN...|
|               35|ABN AMRO HOARE GO...|
|               35|ABN AMRO HOARE GO...|
|               40|ABN AMRO HOARE GO...|
|               37|ABN AMRO MEZZANIN...|
|               41|ABN AMRO QUOTED I...|
|               33|ABU DHABI ISLAMIC...|
|               66|ALKEN ASSET MANAG...|
|               27|ALLIED BANK PHILI...|
|               31|OTKRITIE SECURITI...|
|               38|PGMS (GLASGOW) LI...|
|               38|    SANTANDER UK PLC|
|               41|THE ROYAL BANK OF...|
+-----------------+--------------------+
only showing top 20 rows

### User Defined Functions (UDFs)

Em algumas situações é necessário criar/alterar uma coluna utilizando uma operação não implementada na biblioteca padrão. Para isso, é possível utilzar funções definidas pelo usuário (UDFs) por meio da função `udf()`.

**Importante**: As udfs não são otimizadas para serem executadas em paralelo, e por isso podem representar um gargalo na na aplicação.

In [43]:
def convert_santander_name(string):
    if string == "SANTANDER UK PLC":
        return "SANTANDER MBA UNIESP"
    else:
        return string

convert_santander_name = f.udf(convert_santander_name, returnType=t.StringType())

In [44]:
convert_santander_name

In [45]:
(
    df_parquet.select("bank_name")
    .withColumn('bank_name', convert_santander_name(f.col('bank_name')))\
    .where("bank_name = 'SANTANDER MBA UNIESP'")\
    .limit(1).show(truncate=False)
)

+--------------------+
|bank_name           |
+--------------------+
|SANTANDER MBA UNIESP|
+--------------------+

### Joins

Os joins no pyspark são especificados pela função `join()`, da seguinte forma:

```
df1.join(df2, {key_columns}, {join_type})
```

* `key_columns`: colunas que vão ser utilizadas para fazer a junção das tabelas. Pode ser especificada como
    * Um único string -> só uma coluna é chave, mesmos nomes nas duas tabelas
    * Uma lista de string ou de colunas (`col()`) -> mais de uma coluna é chave, mesmos nomes nas duas tabelas
    * Com nomes diferentes, é necessário fazer uma especificação do tipo: `f.col(column1) == f.col(column2)`, em que a coluna da esquerda está no DataFrame da esquerda e analogamente a coluna da direita está no DataFrame da direita. Caso existam mais de uma coluna como chave, essas especificações devem ser colocadas em uma lista.
* `join_type`: o tipo de join a ser realizado. As opções são:
    * `inner (default)`: INNER JOIN do SQL
    * `outer / full / fullouter / full_outer`: : FULL OUTER JOIN do SQL
    * `left / leftouter / left_outer`: : LEFT JOIN do SQL
    * `right / rightouter / right_outer`: : RIGHT JOIN do SQL
    * `semi / leftsemi / left_semi`: realiza um LEFT JOIN do SQL e retorna somente as colunas do DataFrame da esquerda que também estão no DataFrame da Direita
    * `anti / leftanti / left_anti`: realiza um LEFT JOIN do SQL e retorna somente as colunas do DataFrame da esquerda que não estão no DataFrame da Direita

In [46]:
df_parquet_user = spark.read.format("parquet").load(file_path_parquet_user)

In [47]:
df_parquet_user

+--------------------+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+----------+-----------+----+----------+----------+--------------------+-----------------------+--------------------+--------------------+-------+-------------------+
|             address|              avatar|         credit_card|date_of_birth|dt_current_timestamp|               email|          employment|first_name|     gender|  id| last_name|  password|        phone_number|social_insurance_number|        subscription|                 uid|user_id|           username|
+--------------------+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+----------+-----------+----+----------+----------+--------------------+-----------------------+--------------------+--------------------+-------+-------------------+
|{Ismaelview, {85....|https://robohash....|{6771-8932-7326-9...|   1995-03-19|       1621423978818|leonardo.adams@em...|{Organisation, Co...|  Leonardo|   Bigender|3707|     Adams|W1nirBgqVT|+850 847.401.4566...|              196526628|{Money transfer, ...|5dcacedc-f75b-456...|   4965|     leonardo.adams|
|{Lake Taisha, {-2...|https://robohash....|{4325-2108-3118-7...|   1956-12-19|       1621423978818|jarred.walker@ema...|{Confidence, Admi...|    Jarred| Polygender|4941|    Walker|IihGFkrxTv|+53 181-453-3227 ...|              493978720|{Money transfer, ...|5d8058ad-676b-4b8...|   8560|      jarred.walker|
|{Cummingschester,...|https://robohash....|{6771-8980-3619-5...|   1993-07-10|       1621423978818|ezra.brown@email.com|{Problem solving,...|      Ezra|       Male|3909|     Brown|Xx6bYuMyFp|+27 1-673-818-744...|              208208074|{Bitcoins, Free T...|ac909be8-949d-4b4...|   4708|         ezra.brown|
|{Port Aprilland, ...|https://robohash....|{6771-8933-3925-1...|   1977-04-21|       1621423978818|valda.jacobi@emai...|{Problem solving,...|     Valda|Genderfluid|2531|    Jacobi|zInlShuGdy|+356 1-136-227-88...|              626072177|{Cheque, Free Tri...|e4fa182c-f9c4-4cf...|   7462|       valda.jacobi|
|{West Candelariab...|https://robohash....|{4708-0672-7336-6...|   1959-05-18|       1621423978818|russel.batz@email...|{Organisation, Se...|    Russel|       Male|2609|      Batz|2NaJpfWj8B|    +39 800-778-2977|              519832836|{Credit card, Gol...|d6fb351c-9bea-43d...|   2359|        russel.batz|
|{Ratkefurt, {32.1...|https://robohash....|{6771-8916-4103-0...|   2001-05-15|       1621423978818|newton.denesik@em...|{Networking skill...|    Newton|Genderqueer|8790|   Denesik|1uc7L25t0o|+676 646-699-5864...|              684527880|{Alipay, Professi...|695c85a3-c6d0-450...|   5905|     newton.denesik|
|{East Cherie, {-5...|https://robohash....|{6771-8999-3585-7...|   1973-03-19|       1621423978818|dominick.stiedema...|{Work under press...|  Dominick|       Male|3628|Stiedemann|M3g4vlHXhy|+247 (137) 671-55...|              562433672|{Alipay, Gold, Id...|50c6a7cb-9ad9-47a...|   2710|dominick.stiedemann|
|{Port Marvin, {87...|https://robohash....|     {4353525327895}|   1986-02-03|       1621423978818|bettye.koelpin@em...|{Self-motivated, ...|    Bettye|   Bigender|8628|   Koelpin|RWst6vSQ1b|+1-441 1-150-834-...|              793028648|{Apple Pay, Stude...|9f89192e-40c4-471...|   8360|     bettye.koelpin|
|{West Haywood, {-...|https://robohash....|{6771-8923-1957-9...|   1965-09-06|       1621423978818|maura.hilll@email...|{Confidence, Prin...|     Maura|Genderqueer|4364|     Hilll|okXTzNZRUq|+767 216-368-2621...|              148887201|{Visa checkout, B...|f8b057ee-32b0-4ce...|   6366|        maura.hilll|
|{Port Loren, {-36...|https://robohash....|{5595-9329-5844-7...|   1997-01-02|       1621423978818|debbie.collier@em...|{Problem solving,...|    Debbie|       Male| 643|   Collier|Ej0VKsAnaW| +235 1-673-630-4249|              489656157|{Alipay, Standard...|551c7ae7-648b-475...|   9143|     debbie.collier|
+--------------------+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+----------+-----------+----+----------+----------+--------------------+-----------------------+--------------------+--------------------+-------+-------------------+
only showing top 10 rows

In [48]:
df_parquet

DataFrame[account_number: string, bank_name: string, dt_current_timestamp: bigint, iban: string, id: bigint, routing_number: string, swift_bic: string, uid: string, user_id: bigint]

In [49]:
df_bank_user = df_parquet.join(df_parquet_user, df_parquet_user.user_id == df_parquet.user_id, how="inner")

In [50]:
df_bank_user

22/09/24 06:42:33 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+--------------+--------------------+--------------------+--------------------+----+--------------+-----------+--------------------+-------+--------------------+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+----------+-----------+----+---------+----------+--------------------+-----------------------+--------------------+--------------------+-------+-------------------+
|account_number|           bank_name|dt_current_timestamp|                iban|  id|routing_number|  swift_bic|                 uid|user_id|             address|              avatar|         credit_card|date_of_birth|dt_current_timestamp|               email|          employment|first_name|     gender|  id|last_name|  password|        phone_number|social_insurance_number|        subscription|                 uid|user_id|           username|
+--------------+--------------------+--------------------+--------------------+----+--------------+-----------+--------------------+-------+--------------------+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+----------+-----------+----+---------+----------+--------------------+-----------------------+--------------------+--------------------+-------+-------------------+
|    0830993895|    SANTANDER UK PLC|       1621424024870|GB64ZETE821173493...|9322|     664938372|ASTPGB2LXXX|4a0ad80e-7b54-4db...|   1799|{Deckowborough, {...|https://robohash....|{5410-4643-6308-7...|   1995-01-24|       1621423978818|michel.gerhold@em...|{Proactive, Sales...|    Michel|   Bigender|9990|  Gerhold|nTtw7a5ml6|+1-264 (771) 594-...|              267136174|{Paypal, Silver, ...|bcd297a4-a1ca-40e...|   1799|     michel.gerhold|
|    1472811786|PGMS (GLASGOW) LI...|       1621423988624|GB17PYSP219896836...|4601|     227096512|   AAFMGB21|a447b1df-50e5-48e...|   7622|{Arlietown, {-84....|https://robohash....|     {4275045713561}|   1992-06-19|       1621423978818|jed.bradtke@email...|{Confidence, Cent...|       Jed|       Male|6066|  Bradtke|kJF1eSOjzX|+91 (682) 286-821...|              379445844|{Credit card, Dia...|065caf11-22ca-467...|   7622|        jed.bradtke|
|    3475583434|ABC INTERNATIONAL...|       1619454426543|GB96UPZQ986634859...|3136|     081323942|ANTSGB2LCHA|e1b2b753-7698-4b6...|   5526|{East Gail, {39.9...|https://robohash....|{6771-8917-1698-3...|   1969-07-11|       1621423978818|francesca.powlows...|{Teamwork, Distri...| Francesca|       Male|7251|Powlowski|XusDx8V64o|+995 1-644-086-85...|              200847770|{Money transfer, ...|fdbfbf81-dcad-453...|   5526|francesca.powlowski|
|    3798544946|ALKEN ASSET MANAG...|       1621352240037|GB11QZKH535298337...| 334|     229140877|   ABMNGB21|ee93874b-d5ea-461...|   7365|{West Alchester, ...|https://robohash....|     {4565697938247}|   1979-10-08|       1621423978818|jame.beier@email.com|{Work under press...|      Jame|   Bigender|8314|    Beier|9njCMXSfBI|   +249 833-281-3317|              609911417|{WeChat Pay, Bron...|12a4af63-dfb8-4d6...|   7365|         jame.beier|
|    3231471013|          ABBEY LIFE|       1619454557330|GB21VJFB094871018...|4766|     678232446|   AANLGB21|861d45c9-84bc-49e...|    911|{Sawaynfort, {-9....|https://robohash....|{5462-6509-3871-9...|   1976-11-16|       1621352230241|bryan.hessel@emai...|{Proactive, Natio...|     Bryan| Polygender|1411|   Hessel|JHBziwIKTo| +351 1-376-202-8010|              916839095|{Debit card, Free...|e7cb5ed9-3fa7-417...|    911|       bryan.hessel|
|    0895491202|ALKEN ASSET MANAG...|       1619454345320|GB26SBCK060642856...|8067|     614665132|ALEIGB22TSY|feaf2251-44b9-462...|   8189|{New Kylefurt, {1...|https://robohash....|{6771-8931-9121-2...|   1966-09-26|       1621352230241|sid.pollich@email...|{Organisation, Dy...|       Sid|Genderfluid|9381|  Pollich|SK0WeiMs2y|+86 1-370-764-611...|              664216405|{Debit card, Bron...|7ce234c4-f518-44f...|   8189|        sid.pollich|
|    5359243730|ABN AMRO HOARE GO...|       1619454426543|GB33SIUH872338545...|3694|     012569225|   AAHVGB21|24abccd1-6943-43b...|   8189|{New Kylefurt, {1...|https://robohash....|{6771-8931-9121-2...|   1966-09-26|       1621352230241|sid.pollich@email...|{Organisation, Dy...|       Sid|Genderfluid|9381|  Pollich|SK0WeiMs2y|+86 1-370-764-611...|              664216405|{Debit card, Bron...|7ce234c4-f518-44f...|   8189|        sid.pollich|
|    0026467981|ABN AMRO HOARE GO...|       1621424024870|GB13SUXA661714039...|4845|     322562695|BARBGB2LKIL|09a511d6-7dbe-4af...|   6292|{North Jayshire, ...|https://robohash....|{5350-3484-2320-6...|   1974-02-12|       1621352230241|tony.mcdermott@em...|{Technical savvy,...|      Tony|Genderfluid| 579|McDermott|UKVHNnYevM| +249 1-761-469-0510|              636747594|{Google Pay, Star...|ce975986-a741-456...|   6292|     tony.mcdermott|
|    4964089789|ABN AMRO HOARE GO...|       1621352240037|GB59KYGX058124153...|   7|     117375848|UBKLGB2LBAK|0297c77e-7671-4d8...|   6292|{North Jayshire, ...|https://robohash....|{5350-3484-2320-6...|   1974-02-12|       1621352230241|tony.mcdermott@em...|{Technical savvy,...|      Tony|Genderfluid| 579|McDermott|UKVHNnYevM| +249 1-761-469-0510|              636747594|{Google Pay, Star...|ce975986-a741-456...|   6292|     tony.mcdermott|
|    3738006865|ALKEN ASSET MANAG...|       1621352240037|GB58MPHX711973527...|7052|     233256715|BOFAGB4TCDO|ef5f108c-68bd-4e0...|   6325|{O'Reillymouth, {...|https://robohash....|{5128-7465-3936-3...|   1967-01-28|       1621352230241|duane.schaefer@em...|{Confidence, Gove...|     Duane|     Female|8096| Schaefer|R5pjJtHLKU|+91 (491) 908-440...|              679775403|{Visa checkout, P...|25669b19-3afb-450...|   6325|     duane.schaefer|
+--------------+--------------------+--------------------+--------------------+----+--------------+-----------+--------------------+-------+--------------------+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+----------+-----------+----+---------+----------+--------------------+-----------------------+--------------------+--------------------+-------+-------------------+
only showing top 10 rows

### Salvando os Dados

Para a escrita dos dados, importante ressaltar a seguinte opção
* mode: especifica o comportamento da operação de escrita dos dados, caso eles já existam
  * append: Anexa o conteudo do DataFrame aos dados existentes.
  * overwrite: Sobrescreve dados existentes.
  * ignore: Ignora silenciosamente essa oprecao se os dados ja existirem.
  * error or errorifexists (default): Retorna erro se os dados ja existirem.

In [51]:
cols = ["username","first_name","last_name","gender","bank_name"]

In [52]:
df = df_bank_user.coalesce(1)

In [53]:
df.rdd.getNumPartitions()

1

In [54]:
df

+--------------+--------------------+--------------------+--------------------+----+--------------+-----------+--------------------+-------+--------------------+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+----------+-----------+----+---------+----------+--------------------+-----------------------+--------------------+--------------------+-------+-------------------+
|account_number|           bank_name|dt_current_timestamp|                iban|  id|routing_number|  swift_bic|                 uid|user_id|             address|              avatar|         credit_card|date_of_birth|dt_current_timestamp|               email|          employment|first_name|     gender|  id|last_name|  password|        phone_number|social_insurance_number|        subscription|                 uid|user_id|           username|
+--------------+--------------------+--------------------+--------------------+----+--------------+-----------+--------------------+-------+--------------------+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+----------+-----------+----+---------+----------+--------------------+-----------------------+--------------------+--------------------+-------+-------------------+
|    0830993895|    SANTANDER UK PLC|       1621424024870|GB64ZETE821173493...|9322|     664938372|ASTPGB2LXXX|4a0ad80e-7b54-4db...|   1799|{Deckowborough, {...|https://robohash....|{5410-4643-6308-7...|   1995-01-24|       1621423978818|michel.gerhold@em...|{Proactive, Sales...|    Michel|   Bigender|9990|  Gerhold|nTtw7a5ml6|+1-264 (771) 594-...|              267136174|{Paypal, Silver, ...|bcd297a4-a1ca-40e...|   1799|     michel.gerhold|
|    1472811786|PGMS (GLASGOW) LI...|       1621423988624|GB17PYSP219896836...|4601|     227096512|   AAFMGB21|a447b1df-50e5-48e...|   7622|{Arlietown, {-84....|https://robohash....|     {4275045713561}|   1992-06-19|       1621423978818|jed.bradtke@email...|{Confidence, Cent...|       Jed|       Male|6066|  Bradtke|kJF1eSOjzX|+91 (682) 286-821...|              379445844|{Credit card, Dia...|065caf11-22ca-467...|   7622|        jed.bradtke|
|    3475583434|ABC INTERNATIONAL...|       1619454426543|GB96UPZQ986634859...|3136|     081323942|ANTSGB2LCHA|e1b2b753-7698-4b6...|   5526|{East Gail, {39.9...|https://robohash....|{6771-8917-1698-3...|   1969-07-11|       1621423978818|francesca.powlows...|{Teamwork, Distri...| Francesca|       Male|7251|Powlowski|XusDx8V64o|+995 1-644-086-85...|              200847770|{Money transfer, ...|fdbfbf81-dcad-453...|   5526|francesca.powlowski|
|    3798544946|ALKEN ASSET MANAG...|       1621352240037|GB11QZKH535298337...| 334|     229140877|   ABMNGB21|ee93874b-d5ea-461...|   7365|{West Alchester, ...|https://robohash....|     {4565697938247}|   1979-10-08|       1621423978818|jame.beier@email.com|{Work under press...|      Jame|   Bigender|8314|    Beier|9njCMXSfBI|   +249 833-281-3317|              609911417|{WeChat Pay, Bron...|12a4af63-dfb8-4d6...|   7365|         jame.beier|
|    3231471013|          ABBEY LIFE|       1619454557330|GB21VJFB094871018...|4766|     678232446|   AANLGB21|861d45c9-84bc-49e...|    911|{Sawaynfort, {-9....|https://robohash....|{5462-6509-3871-9...|   1976-11-16|       1621352230241|bryan.hessel@emai...|{Proactive, Natio...|     Bryan| Polygender|1411|   Hessel|JHBziwIKTo| +351 1-376-202-8010|              916839095|{Debit card, Free...|e7cb5ed9-3fa7-417...|    911|       bryan.hessel|
|    0895491202|ALKEN ASSET MANAG...|       1619454345320|GB26SBCK060642856...|8067|     614665132|ALEIGB22TSY|feaf2251-44b9-462...|   8189|{New Kylefurt, {1...|https://robohash....|{6771-8931-9121-2...|   1966-09-26|       1621352230241|sid.pollich@email...|{Organisation, Dy...|       Sid|Genderfluid|9381|  Pollich|SK0WeiMs2y|+86 1-370-764-611...|              664216405|{Debit card, Bron...|7ce234c4-f518-44f...|   8189|        sid.pollich|
|    5359243730|ABN AMRO HOARE GO...|       1619454426543|GB33SIUH872338545...|3694|     012569225|   AAHVGB21|24abccd1-6943-43b...|   8189|{New Kylefurt, {1...|https://robohash....|{6771-8931-9121-2...|   1966-09-26|       1621352230241|sid.pollich@email...|{Organisation, Dy...|       Sid|Genderfluid|9381|  Pollich|SK0WeiMs2y|+86 1-370-764-611...|              664216405|{Debit card, Bron...|7ce234c4-f518-44f...|   8189|        sid.pollich|
|    0026467981|ABN AMRO HOARE GO...|       1621424024870|GB13SUXA661714039...|4845|     322562695|BARBGB2LKIL|09a511d6-7dbe-4af...|   6292|{North Jayshire, ...|https://robohash....|{5350-3484-2320-6...|   1974-02-12|       1621352230241|tony.mcdermott@em...|{Technical savvy,...|      Tony|Genderfluid| 579|McDermott|UKVHNnYevM| +249 1-761-469-0510|              636747594|{Google Pay, Star...|ce975986-a741-456...|   6292|     tony.mcdermott|
|    4964089789|ABN AMRO HOARE GO...|       1621352240037|GB59KYGX058124153...|   7|     117375848|UBKLGB2LBAK|0297c77e-7671-4d8...|   6292|{North Jayshire, ...|https://robohash....|{5350-3484-2320-6...|   1974-02-12|       1621352230241|tony.mcdermott@em...|{Technical savvy,...|      Tony|Genderfluid| 579|McDermott|UKVHNnYevM| +249 1-761-469-0510|              636747594|{Google Pay, Star...|ce975986-a741-456...|   6292|     tony.mcdermott|
|    3738006865|ALKEN ASSET MANAG...|       1621352240037|GB58MPHX711973527...|7052|     233256715|BOFAGB4TCDO|ef5f108c-68bd-4e0...|   6325|{O'Reillymouth, {...|https://robohash....|{5128-7465-3936-3...|   1967-01-28|       1621352230241|duane.schaefer@em...|{Confidence, Gove...|     Duane|     Female|8096| Schaefer|R5pjJtHLKU|+91 (491) 908-440...|              679775403|{Visa checkout, P...|25669b19-3afb-450...|   6325|     duane.schaefer|
+--------------+--------------------+--------------------+--------------------+----+--------------+-----------+--------------------+-------+--------------------+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+----------+-----------+----+---------+----------+--------------------+-----------------------+--------------------+--------------------+-------+-------------------+
only showing top 10 rows

In [55]:
df_bank_user.rdd.getNumPartitions()

4

In [56]:
(
    df.select(cols).write.mode("overwrite")
        .format("parquet")
        .save("./data-processing-bank-user/")
)

In [57]:
df = spark.read.format("parquet").load("./data-processing-bank-user")

In [58]:
df

+-------------------+----------+---------+-----------+--------------------+
|           username|first_name|last_name|     gender|           bank_name|
+-------------------+----------+---------+-----------+--------------------+
|     michel.gerhold|    Michel|  Gerhold|   Bigender|    SANTANDER UK PLC|
|        jed.bradtke|       Jed|  Bradtke|       Male|PGMS (GLASGOW) LI...|
|francesca.powlowski| Francesca|Powlowski|       Male|ABC INTERNATIONAL...|
|         jame.beier|      Jame|    Beier|   Bigender|ALKEN ASSET MANAG...|
|       bryan.hessel|     Bryan|   Hessel| Polygender|          ABBEY LIFE|
|        sid.pollich|       Sid|  Pollich|Genderfluid|ALKEN ASSET MANAG...|
|        sid.pollich|       Sid|  Pollich|Genderfluid|ABN AMRO HOARE GO...|
|     tony.mcdermott|      Tony|McDermott|Genderfluid|ABN AMRO HOARE GO...|
|     tony.mcdermott|      Tony|McDermott|Genderfluid|ABN AMRO HOARE GO...|
|     duane.schaefer|     Duane| Schaefer|     Female|ALKEN ASSET MANAG...|
+-------------------+----------+---------+-----------+--------------------+
only showing top 10 rows